
/*.....................BODY..................................................*/


body {
display: grid;
grid-template-rows: repeat(1, 2fr);
grid-template-columns: repeat(1, 2fr);
gap: 10px;
padding: 20px;
}

body {
    font-size: 30px; /* Tamaño base para el texto */
    font-weight: normal;
    line-height:1.2;
}
body {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--Lato-font),var(--DM-Serif-Display-font),Helvetica,Arial,tahoma,'Hiragino Maru Gothic Pro','Microsoft YaHei','Hiragino Sans GB',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #f1f2f6;
}
:root {
    --Lato-font: '__lato_61143d';
    --DM-Serif-Display-font: '__DM_Serif_Display_be965f';
    --montserrat: '__Montserrat_26cda3';
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}
.grid-item {
border: 1px solid #ccc;
padding: 20px;
text-align: center;
}
/* Estilos generales que se aplican en todas las pantallas */

@media (max-width: 768px) {
    /* Estilos específicos para pantallas de hasta 768px de ancho */
}

@media (max-width: 480px) {
    /* Estilos específicos para pantallas de hasta 480px de ancho (p. ej., teléfonos) */
}

/*.....................HEADER..................................................*/

@use postcss-preset-env {
    stage: 0;
  }
  
  /* helpers/grid.css */
  
  .grid {
    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 50em;
  }
  
  /* helpers/sticky.css */
  
  .sticky {
    position: sticky;
    will-change: transform;
  }
  
  .sticky--top {
    top: 0;
  }
  
  /* layout/base.css */
  
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin: 0;
    min-block-size: 100vh;
  }
  
  /* layout/header.css */
  
  /* layout/header.css */

.header {
    background-color: #fff;
    padding-block: 1em;
    border-top: 0.5cm solid #000; /* Línea superior negra de 0.5cm */
    border-bottom: 0.1cm solid #000; /* Línea inferior más delgada */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header::after {
    content: '';
    display: block;
    clear: both;
  }
  
  .header.is-active::after {
    opacity: 1;
  }
  
  .logo {
    margin: 0;
    padding: 0;
  }
  
  .logo-img {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  /* layout/main.css */
  
  .main {
    padding-block: 7em; /* Ajusta el padding para dejar espacio para el header modificado */
  }
  
  /* modules/headline.css */
  
  h1 {
    margin-block: 0 0.5em;
  }
  
  /* modules/navigation.css */
  
  .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation__list--inline {
    display: flex;
    gap: 1.5em;
  }
  
  .navigation__link {
    color: inherit;
    display: block;
    padding-inline: 1em;
    text-decoration: none;
  }
  
  .navigation__link--is-active {
    background-color: #000;
    border-radius: 999em;
    color: #fff;
  }
  
  /* modules/paragraph.css */
  
  p {
    padding-block: 1.5em;
  }
  
  /*.....................FOOTER..................................................*/



.footer{
    position: top;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background: #a5a7a9;
    text-align: center;
    color: #040101;
}

.footer img {
    max-width: 60px; /* Establece el ancho máximo de las imágenes */
    height: auto; /* Mantiene la proporción de la imagen */
}

.footer {
    border-bottom: 20px solid #000; /* Línea inferior del footer con 2 píxeles de grosor y color negro */
}

.icons{
    padding-top: 0.7rem;
}

.icons a{
    text-decoration: none;
    font-size: 1rem;
    margin: 0.4rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.2rem;
    margin-top: 0.1rem;
}

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}    

@media(min-width: 501px) and (max-width: 768px){
    html{
    font-size: 50%;
    }
}    
@media (max-width: 480px) {
    img {
        margin-bottom: 10px; /* Ajuste específico para pantallas muy pequeñas */
    }
}

img {
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    height: auto;    /* La altura se ajustará automáticamente */
}



 /*.....................CARUSEL..................................................*/
 
 
 .slide {
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.54);
    margin-top: 3px;
}
/* Restablece estilos predeterminados para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}
div {
    display: block;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 2em);
    display: flex; /* Para que los elementos internos se alineen en línea */
}

.slide-open:checked + .slide-item {
    position: relative;
    opacity: 1;
    max-width: 100%; /* Añade esto para asegurar que la imagen se ajuste correctamente */
}

.slide-item {
    flex: 0 0 100%; /* Hace que cada elemento ocupe el 100% del ancho del contenedor */
    opacity: 0;
    min-width: 100%; /* Garantiza que cada slide ocupe el ancho completo */
    text-align: center;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    position: relative; /* Corrige el problema aquí */
}


.slide-item {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
    max-width: 100%;
    max-height: 100%;
    
}


.slide-item img {
    display: block;
    margin: 0 auto;
    width: 100%; /* Ajusta el ancho al 100% */
    height: auto; /* Ajusta la altura automáticamente */
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #8d8d8d;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 7px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}


 /*.....................style carruseles ventas..................................................*/





 /*.....................grid containers..................................................*/


  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    grid-column: span 1;
    grid-row: span 3;
    background-color: #f8f8f8; /* Color de fondo para ver la cuadrícula */
    height: calc((1000px + 2em) / 3); /* Ajuste para que coincida con el carrusel */
}
